# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

# Mac specific files
.DS_Store

# Thumbnails
._*

# Eclipse 
.buildpath
.project
.settings
.metadata

#Netbeans
nbproject
/documents/TI2800 Group 2 Diagrams/Thumbs.db
/documents/TI2800 Group 2 Diagrams/Abstract Class Diagram.png
/documents/TI2800 Group 2 Diagrams/Class Diagram Backend.png
/documents/TI2800 Group 2 Diagrams/Class Diagram Frontend.png
/documents/TI2800 Group 2 Diagrams/Deployment.png
/documents/TI2800 Group 2 Diagrams/ER Diagram.png
/documents/TI2800 Group 2 Diagrams/GUI-browse.png
/documents/TI2800 Group 2 Diagrams/GUI-login.png
/documents/TI2800 Group 2 Diagrams/GUI-monument1.png
/documents/TI2800 Group 2 Diagrams/GUI-monument2.png
/documents/TI2800 Group 2 Diagrams/GUI-searchresults.png
/documents/TI2800 Group 2 Diagrams/General Usecase.png
/documents/TI2800 Group 2 Diagrams/Gui-register.png
/documents/TI2800 Group 2 Diagrams/Sequence Diagram.png
/documents/TI2800 Group 2 Diagrams/System Decomposition.png