/* 
    Created on : May 3, 2012, 12:05:45 PM
    Author     : Monumentzo Team
    Description: Main stylesheet for the Monumentzo application.
*/

html, body {
	padding: 0;
	height:100%;
}

#content {
	padding-top: 60px;
	height: auto;
}

/*
Home
*/

.hero-unit {
	background: url('/assets/img/satelite_netherlands.jpg') center;
	color:white;
}

.black {
	background-color:#0074CC;
	background-color: rgba(0, 116, 221, 0.7);
	padding:10px;
	margin-top:10px;
}

.overflow p{
	overflow:hidden;
	height:200px;
}

.black p {
	opacity:1.0 !important;
	color:white !important;
}

.preview-monument img{
	float:left;
	margin:5px;
	height:150px;
}

/*
 * Error/Success message containers
 */
.error-container , .success-container {
	display: none;
}

/*
Fancybox
*/

/*
 * Een padding van 20 zorgt bij mij voor dubbele scroll bars
 * Bij inner of outer zorgt de padding bij mij voor een lelijk
 * overflow effect dat ik niet met overflow:hidden kan verhelpen
 * ...
 */
.fancybox-iframe {
	padding: 20px;
}

.fancybox-outer {
}

.fancybox-inner {
    padding: 0px;
}

.fancybox-inner form {
    padding: 20px 10px 0 0;
}

.fancybox-inner label {
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
    margin: 6px 10px 0 0;
}

.fancybox-inner input {
    align: right;
}

/*
Browse
*/

#browse-window {
	position: relative;
	margin: 0 auto;
	top: 40px;
}

#browse-window .hud-title,
#browse-window .hud-top,
#browse-window .hud-right,
#browse-window .hud-bottom,
#browse-window .hud-left,
#browse-window .hud-zoomin,
#browse-window .hud-zoomout {
	position: absolute;
	width: 30px;
	z-index: 10;
}

#browse-window .hud-title {
	width: 100%;
	text-align: center;
}

#browse-window .hud-left {
	top: 35px;
	left: 10;
}

#browse-window .hud-right {
	top: 35px;
	left: 85px;
}

#browse-window .hud-zoomin {
	top: 5px;
	left: 45px;
}

#browse-window .hud-zoomout {
	top: 65px;
	left: 45px;
}

/*
#browse-window canvas {
	border: 1px solid black;

	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
*/

/*
Search
*/

#resultsWindow img{
	max-height: 100px;
	max-width: 200px;
}



#resultsWindow .result{
	padding:10px;
}

/*
Monument
*/


#list-view .page-header {
	margin: 20px 0 0 0;
	padding-bottom: 27px;
}

#header-buttons {
	font-size:12px;
	font-weight:normal;
}

#monument img {
	max-height:700px;
	margin-left:auto;
	margin-right:auto;
}

/*
Monument carousel
*/

#carousel {
	height:380px;
	width:100%;
}

#carousel .item {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#carousel img {

	height:400px;
}

/*
Monument comments
*/

/* comment build up:
 * views/model/comment.php
*/

#similar-images .page-header {
	margin: 40px 0 0 0;
	padding-bottom: 5px;
}

#related-events .page-header,
#related-people .page-header {
	margin: 20px 0 0 0;
	padding-bottom: 5px;
}

#comment-list,
.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment {
	margin-top: 20px;
}

.comment-container .content {
	margin-top: 0;
}

/*.comment-container .content h3,*/
.comment-container .content p {
	padding: 0 12px;
}

.comment-container .actions {
    display:none;
}

#comment-buttons button {
	width: 80px;
}

#create-comment textarea {
	width: 100%;
}

/*
monument map
*/
.map #map_canvas {
	height:400px;
	width:100%;
}

/*
monument tabs
*/
.tab-content {
	height:400px;
	overflow:auto;
}

#books img { height: 100px; }

/*
Read list
*/
.book img { max-width: 200px; }
.book .book-info h4 {
	color: #999999;
	margin-bottom: 10px;
	padding: 0 4px;
}
.book .book-info p { padding: 0 4px; }
