/* 
    Created on : May 3, 2012, 12:05:45 PM
    Author     : Monumentzo Team
    Description: Main stylesheet for the Monumentzo application.
*/

html, body {
	padding: 0;
	height:100%;
}

#content {
	padding-top: 60px;
}

/*
 * Error/Success message containers
 */
.error-container , .success-container {
	display: none;
}

/*
Fancybox
*/

/*
 * Een padding van 20 zorgt bij mij voor dubbele scroll bars
 * Bij inner of outer zorgt de padding bij mij voor een lelijk
 * overflow effect dat ik niet met overflow:hidden kan verhelpen
 * ...
 */
.fancybox-iframe {
	padding: 20px;
}

.fancybox-outer {
}

.fancybox-inner {
    padding: 0px;
}

.fancybox-inner form {
    padding: 20px 10px 0 0;
}

.fancybox-inner label {
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
    margin: 6px 10px 0 0;
}

.fancybox-inner input {
    align: right;
}

/*
Browse
*/

#browseWindow {
	padding-top: 0px;
}

/*
Search
*/

#resultsWindow img{
	max-height:100px;
	max-width:200px;
}



#resultsWindow .result{
	padding:10px;
}

/*
Monument
*/
#monument img{
	max-height:95%;
	max-width:95%;
}

.container {
	height:100%;
}

#map_canvas {
	height:100%;
}

/*
Monument comments
*/

/* comment build up:
 * views/model/comment.php
*/

.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment {
	margin-top: 20px;
}

.comment-container .content {
	margin-top: 0;
}

/*.comment-container .content h3,*/
.comment-container .content p {
	padding: 0 12px;
}

.comment-container .actions {
    display:none;
}

#comment-buttons button {
	width: 80px;
}

#create-comment textarea {
	width: 100%;
}